.container{
    caret-color: transparent;
    display: flex;
    height: calc(100vh - 80px);
    flex-direction: row;
    position: relative;
    align-items: center;
}

.image_holder{
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.image_holder img{
    width: 500px;
    height: 500px;
    border-radius: 5px;
    border: 2px solid black;   
}



.overlay{
    display: flex;
    color: whitesmoke;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    opacity: 0.8;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info label{
    color: gray;
    font-size: 35px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: 500;
}

.info p {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    color: black;
}

