.container{
    display: flex;
    flex-direction: row;
    position: relative;
}

.image_holder{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.image_holder img{
    width: 500px;
    height: 500px;
    border-radius: 5px;
    border: 2px solid black;   
}

.overlay{
    display: flex;
    color: whitesmoke;
    position: absolute;
}
