.contact{
    display: flex;
    height: calc(100vh - 80px);
    caret-color: transparent;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.contact form{
    height: 550px;
    display: flex;
    flex-direction: row;
    color: gray;
    padding: 10px;
    width: 1050px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.form-word h2{
    padding: 25px;
}

.form-word span{
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
}

.form-word input{
    padding: 5px;
    outline: none;
    border: none;
    caret-color: black;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.form-word textarea{
    padding: 5px;
    outline: none;
    caret-color: black;
    height: 150px;
}

.form-word button{
    color: aliceblue;
    background-color: green;
    border: none;
    outline: none;
    padding: 6px;
    cursor: pointer;
    width: 174px;
}

.form-word button:hover{
    background-color: lightgreen;
}

.faq
{
    padding: 25px;
    text-align: center;
}

.faq h2{
    margin-bottom: 35px;
}